# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/inspectionProfiles/
.idea/workspace.xml
venv/Include/
venv/Lib/site-packages/cv2/__pycache__/
venv/Lib/site-packages/cv2/data/__pycache__/
venv/Lib/site-packages/numpy/__pycache__/
venv/Lib/site-packages/numpy/compat/__pycache__/
venv/Lib/site-packages/numpy/core/__pycache__/
venv/Lib/site-packages/numpy/core/tests/__pycache__/
venv/Lib/site-packages/numpy/distutils/__pycache__/
venv/Lib/site-packages/numpy/distutils/command/__pycache__/
venv/Lib/site-packages/numpy/distutils/fcompiler/__pycache__/
venv/Lib/site-packages/numpy/distutils/tests/__pycache__/
venv/Lib/site-packages/numpy/doc/__pycache__/
venv/Lib/site-packages/numpy/f2py/__pycache__/
venv/Lib/site-packages/numpy/f2py/tests/__pycache__/
venv/Lib/site-packages/numpy/fft/__pycache__/
venv/Lib/site-packages/numpy/fft/tests/__pycache__/
venv/Lib/site-packages/numpy/lib/__pycache__/
venv/Lib/site-packages/numpy/lib/tests/__pycache__/
venv/Lib/site-packages/numpy/linalg/__pycache__/
venv/Lib/site-packages/numpy/linalg/tests/__pycache__/
venv/Lib/site-packages/numpy/ma/__pycache__/
venv/Lib/site-packages/numpy/ma/tests/__pycache__/
venv/Lib/site-packages/numpy/matrixlib/__pycache__/
venv/Lib/site-packages/numpy/matrixlib/tests/__pycache__/
venv/Lib/site-packages/numpy/polynomial/__pycache__/
venv/Lib/site-packages/numpy/polynomial/tests/__pycache__/
venv/Lib/site-packages/numpy/random/__pycache__/
venv/Lib/site-packages/numpy/random/tests/__pycache__/
venv/Lib/site-packages/numpy/testing/__pycache__/
venv/Lib/site-packages/numpy/testing/nose_tools/__pycache__/
venv/Lib/site-packages/numpy/testing/tests/__pycache__/
venv/Lib/site-packages/numpy/tests/__pycache__/
venv/Scripts/__pycache__/
